<nav *ngIf="(this.router.url !== '/dashboard')" class="navbar navbar-default fixed" id='nav'>
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">SmartMirror</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                    <li *ngIf='!userService.isLoggedIn()'><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    <li *ngIf='!userService.isLoggedIn()'><a routerLink="/register" routerLinkActive="active">Sign Up</a></li>
                    <li *ngIf='userService.isLoggedIn()'><a role='button' (click)=logout()>Logout</a></li>
                    <li *ngIf='userService.isLoggedIn()'><a role='button' (click)='loadSettings()'>Settings</a></li>
                    <li *ngIf='userService.isLoggedIn()'><a role='button' (click)='loadDashboard()'>Dashboard</a></li>
           </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
