<div id="background">
  <div class="landing-header">
    <h1><span class="primary">Smart</span><span class="secondary">Mirror</span></h1>
    <p class="primary">The Mirror of the Future</p>
  </div>
  <div class="adjust">
    <button class="btn btn-primary btn-lg"
    (click)="onRegister()">
    Register Today!</button>
  </div>
</div>

<div class="details">
  <h2>Smart Mirror Project</h2>
</div>

<div class="transition"></div>

<div class="container bio">
  <div class="row">
    <h2>Project Developers</h2>
    <div class="col-md-4">
        <div class="thumbnail">
          <h2>James Hatfield</h2>
          <img class="img-responsive" src="../../assets/james.jpeg" alt="">
          <div class="caption">
              <p>Wow look at all this cool things I am saying about myself!</p>
              <a class="pull-left" href="https://github.com/james-hatfield"><i class="fab fa-github fa-3x"></i></a>
              <a class="pull-left" href="https://www.linkedin.com/in/james-hatfield-368a1516a/"><i class="fab fa-linkedin fa-3x"></i></a>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <h2>Lee</h2>
        <img class="img-responsive" src="" alt="">
        <div class="caption">
          <p>Wow look at all this cool things I am saying about myself!</p>
          <a class="pull-left"><i class="fab fa-github fa-3x"></i></a>
          <a class="pull-left"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <h2>Tyler</h2>
      <img class="img-responsive" src="" alt="">
      <div class="caption">
        <p>Wow look at all this cool things I am saying about myself!</p>
        <a class="pull-left"><i class="fab fa-github fa-3x"></i></a>
        <a class="pull-left" ><i class="fab fa-linkedin fa-3x"></i></a>
      </div>
    </div>
  </div>

  </div>
</div>
