$primary-color: #6EC8C5;
$secondary-color: #F4822B;

body{
  font-family: 'Roboto', sans-serif;
}

#background {
    height: 100vh;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1518241353330-0f7941c2d9b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80");
}

.landing-header{
    color: #fff;

}

h1{
    padding-left: 10px;
    font-size: 10em;
}

p{
    padding-left: 50px;
    font-size: 2em;
}

.primary{
    color: $primary-color;
}

.secondary{
    color: $secondary-color;
}

.adjust{
    position: relative;
    margin-top: 20%;
    margin-left: 45%;
    .btn{
        background-color: #0A6382;
        color: #fff;
    }
}

.bio{
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-right: 5%;
    padding-bottom: 30px;
    .thumbnail{
        max-height: 300px;
        height: 300px;
        width: 300px;
        margin-left: 50px;
        color: black;
        p{
          font-size: 1em;
        }
    }
    .img-responsive{
        border-radius: 50%;
    }
}

a{
    padding: 2px;
}

.transition {
    background: url("https://images.unsplash.com/Ys-DBJeX0nE.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-attachment: fixed;
    height: 400px;
}

.details {
    padding: 5em;
    background-color: rgba(238, 238, 238, 0.185);
}
