<div class='container'>
  <div class='row'>
    <h1>Register</h1>
    <div class='formAlignment'>
      <form [formGroup]='registerForm'>
          <div class="form-group">
            <label for="username">Username</label>
            <input class='form-control'type='text'formControlName='username' [(ngModel)]='username' >
          </div>
          <div class="form-group">
              <label for="username">Email</label>
              <input class='form-control'type='text'formControlName='email' [(ngModel)]='email' >
            </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input class='form-control'type='password' formControlName="password" [(ngModel)]="pw">
            </div>
            <div class="form-group">
                <label for="password2">Re-enter Password</label>
                <input class='form-control'type='password' formControlName="password" [(ngModel)]="pwCheck">
              </div>

          <p class="alert alert-info" *ngIf="pw.length < 6">Enter a 6 password at least six (6) characters long.</p>
          <p class="alert alert-warning" *ngIf="(pw.length > 5 && pw !== pwCheck)">Passwords must match</p>
          <p class="alert alert-warning" *ngIf="((pw.length > 5 && pw === pwCheck) && !(username.length > 0 && email.length > 1))">Missing email or username.</p>

          <div class='form-group'>
              <button *ngIf="((pw.length > 5 && pw === pwCheck) && (username.length > 0 && email.length > 1))" class='btn btn-lg btn-primary btn-block' type='button'
               (click)='register()'>Submit</button>
          </div>
        </form>
      </div>
  </div>
</div>
